.row-content {
    display: inline-block;
    position: relative;
    /* border: 10px solid red */
}

.row-content-text {
    display: inline-block;
    text-align:center;
    padding-top: 70px ;
    padding-bottom: 30px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 35%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

#header2 {
    /* position: fixed; */
    top:-43px;
    left:16px;
    font-size: 30px;
    text-align: center;
    border-left: 5px solid blue;
    padding-left: 25px;
}
#graph2 {
    height: 400px
}
.addScroll {
    height: 400px;
    overflow-y: auto;
    /* border: 5px solid red */
}

.graph-row {
    /* border: 3px solid red; */
    /* width: 49%; */
    /* margin-left: 20px; */
    min-height: 400px;
}

#graph1 {
    /* border: 3px solid red; */

    /* position: fixed */
    float: left
}
#graph2 {
    float: right
}

#graph3 {
    /* width: 99.5%; */
    /* border: 3px solid #2596be; */
}

#logo {
    margin-left: 20px;
    background-color: white;
}

button {
    color: black;
    border: none;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
    height: 10%
}
#resetZoom {
    height: 60px;
    margin: 30px;
    /* padding: 30px */
    padding-top: 6px;
    padding-bottom: 18px;
}

/* .dropbtn {
    padding-top: 10px;
    padding-bottom: 18px;
    margin-left: 40px;
    margin-top: 15px;
    font-size: 32px;
    border: none;
    height: 50%;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    overflow: auto;
    margin-left: 40px;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }  

  .dropdown:hover .dropdown-content {display: block;} */

  .row {
    /* border: 10px solid red */
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001eff;
    padding: 10px;
    color: black;
  }
  
  .title {
    font-size: 20px;
  }
  .neu {
    width: 20%
  }
  .menu-btn {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    width: 100%
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    background-color: white;
    width: 100%;
    border-width: 3px;
    border-color: black;
  }
  
  .dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    display: none;
    width: 100%;
    border-radius: 4px;
    border-width: 3px;
    border-color: black;
  }
  
  .dropdown ul li {
    padding: 5px;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    border-width: 3px;
    border-color: black;
  }
  
  .dropdown ul li a {
    color: black;
    text-decoration: none;
    display: block;
  }
  
  .dropdown ul li a:hover {
    background-color: #fff;
    color: #001eff;
  }
  
  .menu:hover .dropdown ul,
.dropdown ul:hover {
  display: block;
  border-width: 1px;
    border-color: black;
}