.row-content {
    display: inline-block;
    position: relative;
    /* border: 10px solid red */
}

.row-content-text {
    display: inline-block;
    text-align:center;
    padding-top: 70px ;
    padding-bottom: 30px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 35%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

#header2 {
    /* position: fixed; */
    top:-43px;
    left:16px;
    font-size: 30px;
    text-align: center;
    border-left: 5px solid #2596be;
    padding-left: 25px;
}

.graph-row {
    /* border: 3px solid red; */
    /* width: 49%; */
    /* margin-left: 20px; */
    min-height: 400px;
}

#graph1 {
    /* border: 3px solid red; */

    /* position: fixed */
    float: left
}
#graph2 {
    float: right
}

#graph3 {
    /* width: 99.5%; */
    /* border: 3px solid #2596be; */
}

#logo {
    margin-left: 20px;
}

button {
    color: black;
    border: none;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
    height: 10%
}
#resetZoom {
    height: 60px;
    margin: 30px;
    /* padding: 30px */
    padding-top: 6px;
    padding-bottom: 18px;
}

.dropbtn {
    /* background-color: #04AA6D; */
    /* color: white; */
    padding-top: 10px;
    padding-bottom: 18px;
    margin-left: 40px;
    margin-top: 15px;
    font-size: 32px;
    border: none;
    height: 50%;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    overflow: auto;
    margin-left: 40px;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }  

  .dropdown:hover .dropdown-content {display: block;}

  .row {
    /* border: 10px solid red */
  }